.img-item{
    position: relative;
    top:0;
    transition: top ease 0.5s;
}
.img-item:hover{
    top:-10px;
}
.menu-item{
    flex-wrap: nowrap!important;
    
}
.list-item{
    overflow-x: auto;
}
.btn-big {
   width:20%;
   border-radius: 10px;
}
a{
    text-decoration: none!important;
    color: aliceblue!important;
}